/* Starting CSS template */
*{
  margin: 0;
  padding: 0;
}

body{
  color: #7F7F7F;
  background-image: url("../images/ocean.jpg");
  background-repeat: no-repeat;
  background-size: 133%, 100%, auto;
  font-family: Arial, Helvetica;
  font-size: 14px;
  line-height: 18px;
}

img{
    border: 0 none;
}

/* Head Style */
.container{
  margin:20px auto 0;
  position: relative;
  text-align: left;
  width: 85%;
  padding-left: 20px;
  padding-right: 20px;
}

header{
  border-bottom: 2px solid #C0C0C0;
  position: relative;
  z-index: 10;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

iframe
{
  background: linear-gradient(rgba(99,37,33, .3),rgba(220,220,220, .7));
}

/* Nav Style */
nav{
  overflow: hidden;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li{
  float: left;
  padding-left: 15%;
}

nav ul li a{
  color: black;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 22px;
  padding: 4px 10px 4px 11px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

/* Body Style */
#main{
  padding: 10px 0;
}

#mainContent{
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

#mainContent #product{
  background: linear-gradient(rgba(220, 237, 229, .55), rgba(232, 225, 231, 0.95));
  border: 2px solid #E8E1E7;
  float: left;
  margin: .25% .25%;
  width: 100%;
}

#mainContent h3{
  color: #3C3C3C;
  background: linear-gradient(#ffffff, #E8E1E7);
  font-size: 18px;
  font-weight: bold;
  line-height: 14px;
  padding: 10px 0 12px 20px;
  text-transform: uppercase;
  text-align: center;
}

#mainContent ul{
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#mainContent #product{
  float: left;
  text-align: center;
  padding-bottom: 20%;
}


/* Contact Form */
.contact-form
{
  font-size: 14px;
  text-align: left;
}

.contact-form #text
{
  font-size: 15px;
  color: black;
  padding-bottom: 35px;
}

.contact-form input
{
  margin-bottom: 10px;
  opacity: .8;
}

#received
{
  color: black;
  font-size: 20px;
  line-height: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-transform: uppercase;
  text-align: center;
}

/* Loging In and Out Styling */
.modalDialog {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	top: 220px;
	right: 220px;
	bottom: 220px;
	left: 220px;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background-color: white;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.modalButton
{
  font: bold 15px Arial;
  text-decoration: none;
  background: rgba(217, 188, 188, 0.5);
  color: #333333;
  padding: 8px 16px 8px 16px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

/* how to force the errors to the right */
.error{
  color: #FF0000;
}

.contact-form .error{
  text-align: right;
}

.centerErrorText{
  text-align: center;
  color: #FF0000;
}

.modalButton.disableLoginButton{
  pointer-events: none;
  opacity: 0.5;
}

/* Media Queries */
@media (max-width : 1100px){
  body{
    background-image: url("../images/ocean.jpg");
    background-size: 238%, 90%, auto;
  }
}

@media (max-width : 650px){
  body{
    background-image: none;
    background-color: #e3d3e3;
  }
}
