/* Starting CSS template */
*{
  margin: 0;
  padding: 0;
}

body{
  color: #7F7F7F;
  background-image: url("../images/ocean.jpg");
  background-repeat: no-repeat;
  background-size: 133%, 100%, auto;
  font-family: Arial, Helvetica;
  font-size: 14px;
  line-height: 18px;
}

img{
    border: 0 none;
}

/* Head Style */
.container{
  margin:20px auto 0;
  position: relative;
  text-align: left;
  width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

header{
  border-bottom: 2px solid #C0C0C0;
  position: relative;
  z-index: 10;
}

.topHead{
  overflow: hidden;
  position: relative;
}

.logo{
  float: left;
  padding-left: 25%;
}

/* Nav Style */
nav{
  overflow: hidden;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li{
  float: left;
  padding-left: 15%;
}

nav ul li a{
  color: black;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 22px;
  padding: 4px 10px 4px 11px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

/* Body Style */
#main{
  padding: 10px 0;
}

#mainContent{
  overflow: hidden;

}

#mainContent #leftSide{
  background: linear-gradient(rgba(220, 237, 229, .55), rgba(232, 225, 231, 0.95));
  border: 2px solid #E8E1E7;
  float: left;
  margin: .25% .25%;
  width: 95.5%;
}

#mainContent h3{
  color: #3C3C3C;
  background: linear-gradient(#ffffff, #E8E1E7);
  font-size: 18px;
  font-weight: bold;
  line-height: 14px;
  padding: 10px 0 12px 20px;
  text-transform: uppercase;
  text-align: center;
}

#mainContent ul{
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#mainContent #leftSide{
  float: left;
}

#mainContent #leftSide ul li{
  float: left;
  padding-bottom: 20px;
  width: 100%;
}

#mainContent #leftSide ul li .img{
  text-align: center;
}

#mainContent #leftSide ul li .img img{
  padding-top: 10px;
  height: 300;
  width: 100px;
}

#mainContent #leftSide ul li .info{
  text-align: center;
}

#mainContent ul li .info .title{
  color: #4B4B4B;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  width: 150px;
}

#mainContent #leftSide ul li .info .actions a{
  border: 2px solid #E0E0E0;
  color: #D27F93;
  float: right;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  padding-right: 20px;
  text-decoration: none;
}

#mainContent #leftSide ul li .info .actions a:first-child{
  color: #7D797C;
  float: right;
}

#mainContent #leftSide ul li .info .actions a:hover{
  color: #FF5A5D;
}

/* Contact Form */

#contact-form
{
  font-size: 14px;
  text-align: center;
}

#contact-form #text
{
  font-size: 15px;
  color: black;
  padding-bottom: 35px;
}

#contact-form input
{
  margin-bottom: 10px;
  opacity: .8;
}

/* Loging In and Out Styling */
.modalDialog {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	top: 220px;
	right: 220px;
	bottom: 220px;
	left: 220px;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background-color: white;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.modalButton
{
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/* Media Queries */
@media (max-width : 1100px){
  body{
    background-image: url("../images/ocean.jpg");
    background-size: 238%, 90%, auto;
  }
}

@media (max-width : 650px){
  body{
    background-image: url("../images/oceanMobile.jpg");
    background-size: 180%, 90%, auto;
  }
}
